{% extends 'base.html' %}

{% block head %}
    <title>Electronic Patient</title>
{% endblock %}

{% block body %}
 <main class="container mt-4">
        <form >
            <input type="text" id="date" name="name" placeholder="name">
            <button type="submit" class="btn btn-primary">search</button>
        </form>
     <table class="table mt-2">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for patient in patients %}
        <tr>
          <th scope="row">{{ patient.id }}</th>
          <td>{{ patient["name"][0].given[0] }}</td>
          <td>{{ patient["name"][0].family }}</td>
            <td><a href="{{url_for('patient', patient_id = patient.id)}}" ><img src="{{ url_for('static', filename='images/right-arrow.png') }}" width="30" height="30" class="d-inline-block align-top" alt=""></a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
 </main>
{% endblock %}