{% extends 'base.html' %}

{% block head %}
    <title>Electronic Patient</title>
{% endblock %}

{% block body %}
 <main class="container mt-2">
     <p>id: {{ patient.id }}</p>
     <p>imię i nazwisko: {{patient["name"][0].given[0] }} {{ patient["name"][0].family }}</p>
     <p>płeć: {{ patient.gender }}</p>
     <p>data urodzenia: {{ patient.birthDate }}</p>
    <p>
        <form>
        <label>rok: </label>
        <input type="number" id="date" value="{{ year }}" name="year">
        <button type="submit" class="btn btn-primary">szukaj</button>
        </form>
    </p>
     <table class="table  mt-4">
      <thead class="thead-dark">
        <tr>
          <th scope="col">obserwacja</th>
          <th scope="col">data</th>
          <th scope="col">wartość</th>
          <th scope="col">jednostka</th>
        </tr>
      </thead>
      <tbody>
      {% for observation in observations %}
          {% if 'valueQuantity' in observation %}
        <tr>
          <th scope="row">{{ observation.code.text }}</th>
            <td>{{ observation.issued }}</td>
            <td>{{ observation.valueQuantity.value }}</td>
            <td>{{ observation.valueQuantity.unit }}</td>
            </tr>
          {% endif %}
      {% endfor %}
      </tbody>
    </table>
     <table class="table mt-2">
      <thead class="thead-dark">
        <tr>
          <th scope="col">zalecenie</th>
          <th scope="col">data</th>
        </tr>
      </thead>
      <tbody>
      {% for medication_request in medication_requests %}
        <tr>
          <th scope="row">{{ medication_request.medicationCodeableConcept.text }}</th>
          <td>{{ medication_request.authoredOn }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
 </main>
{% endblock %}