{% extends 'base.html' %}

{% block head %}
    <title>Electronic Patient</title>
{% endblock %}

{% block body %}
 <main class="container mt-2">
     <p>id: {{ patient.id }}</p>
     <p>name: {{patient["name"][0].given[0] }} {{ patient["name"][0].family }}</p>
     <p>gender: {{ patient.gender }}</p>
     <p>birth: {{ patient.birthDate }}</p>
        <form>
        <label>year: </label>
        <input type="number" id="date" value="{{ year }}" name="year">
        <button type="submit" class="btn btn-primary">search</button>
        </form>
     <table class="table  mt-4">
      <thead class="thead-dark">
        <tr>
          <th scope="col">observation</th>
          <th scope="col">date</th>
          <th scope="col">value</th>
          <th scope="col">unit</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for observation in observations %}
          {% if 'valueQuantity' in observation %}
        <tr>
          <th scope="row">{{ observation.code.text }}</th>
            <td>{{ observation.issued }}</td>
            <td>{{ observation.valueQuantity.value }}</td>
            <td>{{ observation.valueQuantity.unit }}</td>
            <td><a href="{{url_for('observation_details', patient_id = patient.id, observation = observation.code.coding[0].code)}}" ><img src="{{ url_for('static', filename='images/right-arrow.png') }}" width="30" height="30" class="d-inline-block align-top" alt=""></a></td>
            </tr>
          {% endif %}
      {% endfor %}
      </tbody>
    </table>
     <table class="table mt-2">
      <thead class="thead-dark">
        <tr>
          <th scope="col">medication request</th>
          <th scope="col">date</th>
        </tr>
      </thead>
      <tbody>
      {% for medication_request in medication_requests %}
        <tr>
          <th scope="row">{{ medication_request.medicationCodeableConcept.text }}</th>
          <td>{{ medication_request.authoredOn }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
 </main>
{% endblock %}